DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token
APP_TIMEZONE=Pacific/Tahiti
ALERT_LEAD_MINUTES=30
ALERT_WINDOW_MINUTES=7
CALENDAR_REFRESH_HOURS=12
DISCORD_ALERT_MENTION=@everyone
